{% extends "base.html" %}
  {% block title %}
    {% if is_edit%}Редактирование аниме
    {% else %}Добавить аниме
    {% endif %} 
  {% endblock %}
{% block content %}
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">

                <body>
                  <form action="#" method="POST">
                    <p>
                  <label for="title">Название</label>
                  <textarea name="text" id="title" class="form-control">
                    {{context.anime.title}}
                  </textarea>
                    </p>
                    <p>
                  <label for="description">Описание</label>
                  <textarea name="text" id="description" class="form-control">
                    {{context.anime.description}}
                  </textarea>
                    </p>
                    <p>
                  <input type="submit">
                    </p>
                  </form>
                  
              </body>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %} 
   
