{% extends "base.html" %}
{% block title %}Редактирование аниме{% endblock %}
{% block content %}
  <main>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">
              <h1>Редактирование аниме</h1>
              <body>
                  <form action="" method="post" novalidate>
                      {{ form.hidden_tag() }}
                      <p>
                          {{ form.title.label }}<br>
                          {{ form.title(size=32) }}<br>
                      </p>
                      <p>
                          {{ form.description.label }}<br>
                          {{ form.description(size=32) }}<br>
                      </p>
                      <p>{{ form.submit() }}</p>
                  </form>
              </body>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %} 
   
